.sw-cms-element-config-local-video {
  &__switches {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem 2rem;

    .sw-field--switch {
      margin-block-start: 0;
    }
  }

  &__start-and-end {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}
