.sw-cms-preview_fh-column-two {
  align-items: center;
  display: grid;
  grid-column-gap: 0.625rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.9375rem;

  span {
    background-color: #bae2ff;
    block-size: 2rem;
    border: 0.125rem dashed #3badff;
    border-radius: 0.3125rem;
    inline-size: 100%;
  }
}
