.sw-cms-element-preview-tabs {
  font-size: 80%;
  inline-size: 100%;
  position: relative;

  .tabs {
    overflow: hidden;

    .tab {
      border-block-end: 0.0625rem solid #ccc;
      display: inline-block;
      float: left;
      font-size: 110%;
      padding-block: 0.5rem;
      padding-inline: 1rem;
    }

    .tab-active {
      border-block-end: none;
      border-block-start: 0.0625rem solid #ccc;
      border-inline: 0.0625rem solid #ccc;
      font-weight: bold;
    }
  }

  .tab-container {
    display: block;
    margin-block-start: 1rem;
  }
}
