.address {
    margin-block-end: 1.5rem;
}

.address-action-create {
    margin: 0;
}

.account-aside-header {
    font-family: $headings-font-family;
    font-size: 1.4rem;
}

.address-editor-list-wrapper,
.address-editor-create-address-wrapper {
    padding: 0;
}
