/******************************** Custom print styles and print optimization ********************************/

@media print {
    header,
    footer,
    .scroll-up-container,
    .cookie-permission-container,
    .product-detail-price-box-snippet,
    .product-detail-sheets,
    .gallery-slider-controls,
    .base-slider-dots,
    .gallery-slider-thumbnails-col,
    .product-detail-cross-selling,
    .breadcrumb,
    .wk-link-back,
    .icon,
    .product-detail-buy-options,
    .fh-merchantfinder,
    .wk-legend-text,
    .svg-inline--fa,
    .spacer {
        display: none !important;
    }

    body {
        border: 0.0625rem solid transparent;
        font-size: 0.8rem !important;
        inline-size: 180mm !important;
        max-inline-size: 180mm !important;
        min-inline-size: 180mm !important;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5rem !important;
        margin: 0 !important;
        padding-block-start: 1.562rem !important;
    }

    * {
        background: none !important;
        border: 0 !important;
        -moz-box-sizing: border-box !important;
        box-sizing: border-box !important;
        color: #333 !important;
        font-family: Arial, Verdana, sans-serif !important;
        line-height: 1.2 !important;
        margin: 0 !important;
        padding: 0 !important;
        position: relative !important;
    }

    .row {
        display: block;
    }

    .col {
        inline-size: 100%;
        max-inline-size: 100%;
    }

    .lead {
        font-size: 100% !important;
    }

    .container {
        inline-size: 100% !important;
        max-inline-size: 100% !important;
        min-inline-size: 100% !important;
    }

    #print-configuration-cover {
        display: none !important;
    }

    .product-detail-configurator-columns {
        * {
            border: 0 !important;
        }

        .col {
            flex: unset;
            inline-size: 100% !important;
            max-inline-size: unset;
        }
    }

    .product-detail-configurator-color-options {
        display: block;
        grid-template-columns: none;

        .product-detail-configurator-option-custom-label span {
            block-size: 1.25rem;
        }
    }

    .product-detail-configurator-option {
        display: block;
    }

    .product-detail-configurator-group {
        * {
            font-size: $font-size-base !important;
        }

        label {
            line-height: 1.2;
        }
    }

    .product-detail-content {
        background: none !important;
        padding: 0 !important;
        page-break-inside: avoid;

        * {
            background: none !important;
        }

        .dropdown {

            button {
                background: transparent;
                line-height: 1.2 !important;
                padding: 0;

                &.dropdown-toggle::after {
                    display: none !important;
                }
            }
        }

        .product-detail-configurator-select-options {
            .product-detail-configurator-option-info {
                &::before {
                    display: none;
                }
            }
        }

        .product-detail-configurator-option {

            .fa-check {
                color: $gray-800;
            }
        }
    }

    .custom-product-information ul {
        list-style: inherit;
    }

    .product-detail-properties-container {
        .col-lg-6 {
            flex: inherit;
            inline-size: 100% !important;
            max-inline-size: unset !important;
        }
    }
}
