.fh-sidebar-collapse_badge {
  background-color: #0e82ff;
  color: #ffffff;
  font-size: 0.8125rem;
  font-weight: 700;
  inset-block-start: 0;
  inset-inline-start: 0.625rem;
  padding-block: 0.25rem;
  padding-inline: 0.75rem;
  position: absolute;
  text-transform: uppercase;
  transform: translateY(-50%);
}