.btn, a {
    transition: $animation;
}

.filter-panel-item .filter-panel-item-toggle {
    background: $light;
    border: 0.0625rem solid darken($light, 10%);
}

.filter-panel-item-dropdown {
    border-radius: 0 !important;
    padding: 0 !important;

    ul {
        padding-block: 0.5rem;
        padding-inline: 0;
    }
}

.filter-multi-select-manufacturer {
    display: none !important;
}

.btn.btn-outline-light {
    color: $dark;
}

.scroll-up-button .btn {
    block-size: 3rem;
    border-radius: 50%;
    inline-size: 3rem;
}

.bg-wood {
    background-color: darken($wood, 15%);
    color: lighten($wood, 25%);
}

.text-wood {
    color: $wood !important;
}

.text-wood-light {
    color: lighten($wood, 30%) !important;
}

.bg-offer {
    background-color: $wk-offers;
}

.text-white-50 {
    color: lighten($wood, 30%) !important;
}

.text {
    color: $text !important;
}
