.cms-sections {
    overflow: hidden;
}

.cms-block-container {
    padding-inline-end: 0 !important;
    padding-inline-start: 0 !important;
}

.cms-section.full-width {
    .cms-block-container-row {
        margin: 0;
        padding: 0;

        .col-12 {
            margin: 0;
            padding: 0;
        }
    }
}

.cms-element-category-navigation {
    display: none;
}

@include media-breakpoint-up(lg) {
    .cms-element-category-navigation {
        display: block;
    }
}

.cms-element-text ul {
    margin: 0;
    padding-inline-start: 0.937rem;

    li {
        line-height: 1.8;
        list-style: disc;
        padding-inline-start: 0.312rem;
    }
}

.gallery-slider-single-image {
    background-color: $white;

    img {
        mix-blend-mode: normal;
    }
}
