.cms-block {
    overflow: inherit;

    &.bg-color {
        border-block-start: 0.625rem solid $primary;

        * {
            color: $white;
        }
    }

    &.bg-image {
        background-position: 50%;
        background-repeat: no-repeat;
    }
}

.cms-block-center-text {
    .cms-element-text {
        padding: 1.875rem;
    }
}

.cms-block-image-three-cover {
    .row {
        margin: 0;
    }

    [class^=col-] {
        padding: 0;
    }
}

.cms-block-image-text-bubble,
.cms-block-image-bubble-row {
    .cms-element-image .cms-image-container {
        background-clip: padding-box;
        block-size: 18.75rem;
        border-radius: 50%;
        inline-size: 18.75rem;
        margin: auto;
        overflow: hidden;
    }
}

.cms-block-image-highlight-row {
    .cms-element-image {
        border: 0.75rem solid $white;
    }
}

.cms-block-image-text-bubble,
.cms-block-image-text-row {
    .cms-element-text {
        padding-block-start: 1.25rem
    }
}

.cms-block-image-text-gallery {
    .image-text-gallery-card {
        box-shadow: 0 0.937rem 0.625rem -0.937rem rgba(0, 0, 0, 0.35);
    }

    .cms-element-text {
        padding: 1.25rem;
    }
}

.cms-block-text-on-image {
    .cms-element-text {
        align-items: center;
        min-block-size: 15rem;
        padding: 1.875rem;
    }
}

.cms-block-image-text-cover {
    .cms-element-text {
        padding-block-start: 1.875rem;
    }
}

.cms-block-image-simple-grid {
    .left-top {
        margin-block-end: $grid-gutter-width;
    }

    .right {
        block-size: 100%;
    }
}

@include media-breakpoint-down(sm) {
    .cms-block-image-text-gallery,
    .cms-block-image-two-column,
    .cms-block-image-three-column,
    .cms-block-image-four-column,
    .cms-block-image-bubble-row,
    .cms-block-image-highlight-row {
        .cms-row > :not(:last-child) {
            margin-block-end: $grid-gutter-width;
        }
    }

    .cms-block-image-text,
    .cms-block-image-text-cover {
        .cms-row > :first-child {
            margin-block-end: $grid-gutter-width;
        }
    }

    .cms-block-image-simple-grid {
        .left-bottom {
            margin-block-end: $grid-gutter-width;
        }
    }
}
