/*
CMS elements
==============================================
General styling for cms elements
*/

.cms-sections {
    overflow : hidden;
}

.cms-block-container {
    padding-left  : 0 !important;
    padding-right : 0 !important;
}

.cms-section.full-width {
    .cms-block-container-row {
        margin  : 0;
        padding : 0;

        .col-12 {
            margin  : 0;
            padding : 0;
        }
    }
}

.cms-element-category-navigation {
    display : none;
}

@include media-breakpoint-up(lg) {
    .cms-element-category-navigation {
        display : block;
    }
}

.cms-element-text ul {
    margin       : 0;
    padding-left : 15px;

    li {
        line-height  : 1.8;
        list-style   : disc;
        padding-left : 5px;
    }
}
