.form-control {
    background-position: right 0.9rem center !important;
    background-size: 0.75rem;
}

.js-validation-message {
    font-size: $font-size-small;
    margin: 0;
    padding: 0;
}

.form-group {
    padding-block-end: 1rem;
}
