.base-slider-controls-prev, .base-slider-controls-next {
    background: rgba(255, 255, 255, 0.9);
    block-size: 2.5rem;
    border: none;
    inline-size: 2.5rem;
    line-height: 1;
    opacity: 1;

    .icon {
        block-size: 2.5rem;
        color: $secondary !important;
        inline-size: 2.5rem;
    }
}

.base-slider-controls-prev .icon, .base-slider-controls-next .icon {
    block-size: 1.5rem;
    inline-size: 1.5rem;
    vertical-align: middle;

    svg {
        inset-block-start: 0 !important;
        inset-inline-start: 0 !important;
    }

}

.base-slider-controls-prev .icon {
    svg {
        inset-inline-end: 0.2rem;
    }
}

.base-slider-controls-next .icon {
    svg {
        inset-inline-start: 0.2rem;
    }
}

.cms-element-image-slider {

    .tns-ah {
        transition: none !important;
    }

    .base-slider {
        block-size: auto !important;
        inline-size: 100% !important;
        margin: auto !important;
        overflow: hidden;

        @media(min-width: 100rem) {
            inline-size: 95% !important;
        }

        @media(min-width: 118.75rem) {
            inline-size: 85% !important;
        }

        @media(min-width: 137.5rem) {
            inline-size: 75% !important;
        }

        @media(min-width: 156.25rem) {
            inline-size: 65% !important;
        }

        &.has-dots-outside {
            padding-block-end: 3rem;
        }

        .image-slider-item-container {
            block-size: 100%;

            .image-slider-item {
                block-size: auto;
                border-radius: 0 0 5rem 0;
                inline-size: 100%;
                overflow: hidden;
            }
        }
    }
}

.base-slider .tns-nav .base-slider-dot,
.base-slider .tns-nav button,
.base-slider .base-slider-dots .base-slider-dot,
.base-slider .base-slider-dots button {
    block-size: 1rem;
    inline-size: 1rem;
    margin-block: 0;
    margin-inline: 0.5rem;
    padding: 0;
}
