.modal-header {
    border: 0;
    margin: 0;
    padding-block-end: 0;
    padding-block-start: 1.5rem;
    padding-inline: 1.5rem;
}

.modal-title {
    font-family: $sw-font-family-headline;
    font-size: $h3-font-size;
    line-height: $line-height-base;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.modal-body {
    padding: 1.5rem;
}
