.cms-element-product-listing {
    .cms-listing-col {
        margin-block-end: 0;
    }
}

.product-box {
    block-size: 100%;
    border: 0.0625rem solid $gray-300 !important;
    min-block-size: 28.125rem;
    transition: $animation;

    &:hover {
        box-shadow: 0 0.937rem 0.625rem -0.937rem rgba(0, 0, 0, 0.35);
        transform: scale(1.039);
        z-index: 100;
    }

    .card-body {
        padding: 1rem;
    }

    .product-image-wrapper {
        background-color: $dark;
        block-size: auto !important;
        display: flex;
        margin: 0;
        min-block-size: auto !important;

        /* important SW6 hack */
        .is-standard, .is-minimal {
            font-family: initial;
            object-fit: cover;
        }

        .product-image {
            display: inline-block;
            max-block-size: none;

            &.is-standard, &.is-minimal {
                block-size: 100%;
                font-family: initial;
                inline-size: 100%;
                object-fit: cover;
            }
        }

        .product-image-placeholder {
            margin: auto;
        }
    }

    .product-delivery-information {
        p {
            font-size: $font-size-small;
        }
    }

    .progress-sm {
        block-size: 0.5rem;
    }

    .product-name {
        block-size: 3.75rem;
        color: $primary;
        font-family: $font-family-headline;
        font-size: $h5-font-size;
        font-weight: $headings-font-weight;
        line-height: $line-height-base;

        &:hover {
            color: $link-hover-color;
        }
    }

    .product-description {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: none;
        block-size: 7.5rem;
        display: -webkit-box;
        font-size: $font-size-base;
        line-height: $line-height-base;
        margin-block-start: 0;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-price-unit {
        block-size: auto;
    }
}

.product-link {
    &:after {
        background-color: rgba(0, 0, 0, 0);
        content: "";
        inset-block-end: 0;
        inset-block-start: 0;
        inset-inline-end: 0;
        inset-inline-start: 0;
        pointer-events: auto;
        position: absolute;
        z-index: 1;
    }
}

.product-image-placeholder {
    padding: 1.5rem;
}

.product-image-link {
    align-items: center;
    block-size: 100%;
    display: flex;
    inline-size: 100%;
    justify-content: center;

    &.is-cover {
        align-items: flex-start;
    }
}

.badge {
    color: $white !important;
}

.product-badges {
    display: table;
    inset-block-start: initial;
    inset-inline-end: 0;
    inset-inline-start: initial;
    position: absolute;
    z-index: 10;

    .badge-container {
        margin-block-end: 0.312rem;
    }

    .badge {
        block-size: 2.5rem;
        border-radius: 0.5rem 0 0.5rem 0;
        display: block;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        line-height: 1.5rem;
        margin-block-start: 0.5rem;
        margin-inline-end: -0.5rem;
        min-inline-size: 3rem;
        padding: 0.5rem;
        text-align: center;
        text-transform: uppercase;
    }

    .badge-discount {
        font-size: 1.5rem;
    }
}

.product-detail-badges {
    .product-badges {
        inset-inline-end: 0;
    }
}

.badge-discount {
    background-color: $wk-color-offers ;
}

.badge-topseller {
    background-color: $wk-color-top-seller;
}

.badge-new {
    background-color: $wk-color-new;
}

.badge-savings-set {
    background-color: $wk-color-saving-set;
}

.badge-price-hit {
    background-color: $wk-color-price-hit;
}

.badge-set {
    background-color: $wk-color-set;
}

.badge-action {
    background-color : $wk-color-action;
}

.list-price-badge {
    background-color: $sw-color-info;
}

.product-wishlist-btn-remove {
    inset-inline-start: 1.562rem;
}
