.fh-grid-row {
  display: flex;
  flex-wrap: wrap;
  margin-inline-end: -0.9375rem;
  margin-inline-start: -0.9375rem;

  &.no-gutters {
    margin-inline-end: 0;
    margin-inline-start: 0;

    .fh-grid-column {
      padding-inline-end: 0;
      padding-inline-start: 0;
    }
  }

  @import '_bootstrap-grid';
}
