.sw-cms-preview-merchant-finder {
  background-color: #fff;
  block-size: 6.25rem;
  inline-size: 100%;
  padding: 0.9375rem;

  .sw-cms-preview-merchant-finder-inner {
    background-color: #ff3d58;
    block-size: 100%;
    color: #fff;
    padding: 1.5625rem;
  }
}
