{% sw_extends '@Storefront/storefront/page/account/profile/recover-password.html.twig' %}

{% block page_account_profile_recover_password_title %}{% endblock %}

{% block page_account_profile_recover_password_container %}
    <div class="card-body">

        <h3 class="card-title">
            <i class="bi bi-xxs bi-shield-lock pe-2"></i>{{ 'account.profileRecoverPasswordTitle'|trans }}
        </h3>

        {% block page_account_profile_recover_password_info %}
            <div class="card-text account-recover-password-info">
                {{ 'account.profileRecoverPasswordInfo'|trans }}
            </div>
        {% endblock %}

        {% block page_account_profile_recover_password_mail %}
            {{ parent() }}
        {% endblock %}

        {% block page_account_profile_recover_password_actions %}
            {{ parent() }}
        {% endblock %}

    </div>
{% endblock %}
