.sw-cms-preview_fh-text-on-image-header {
  padding: 0.3125rem;

  .sw-cms-preview-fh-text-on-image-header__image {
    block-size: 15.625rem;
    overflow: hidden;
    position: relative;

    img {
      margin-block-start: -50%;
    }
  }

  .sw-cms-preview-fh-text-on-image-header__text {
    background-color: #fff;
    display: inline-block;
    inset-block-end: 0;
    padding: 0.625rem;
    position: absolute;

    h1 {
      margin: 0;
      padding: 0;
    }
  }
}
