.sw-cms-element-accordion {
  inline-size: 100%;

  .item {
    border: 0.0625rem solid #dadee5;
    border-radius: 0.25rem;
    margin-block-start: -0.0625rem;
    padding: 0.625rem;
  }

  .item-container {
    padding: 0.625rem;
  }
}
