.product-detail-configurator-group {
    margin-block-end: 0.75rem;
    padding-block-end: 0.75rem;

    .product-detail-configurator-group-title {
        color: $dark;
        font-weight: $font-weight-normal;
        margin-block-end: 0.5rem;
    }

    label {
        margin: 0;
    }

    &:not(:last-child) {
        border-block-end: 0.0625rem solid $border-color;
    }

    &:last-child {
        margin-block-end: 0;
        padding-block-end: 0;
    }
}

@function check-stroke($size: 2, $color: #fff, $correction: 1) {
    $radius: $size - $correction;
    $stroke: ();

    @for $i from -$size through $size {
        @for $k from -$size through $size {

            $x: $k;
            $y: $i;

            @if $k > 0 {
                $x: $k - 0.5;
            } @else if $k < 0 {
                $x: $k + 0.5;
            }

            @if $i > 0 {
                $y: $i - 0.5;
            } @else if $i < 0 {
                $y: $i + 0.5;
            }

            @if ($x*$x + $y*$y <= $radius*$radius) {
                $stroke: append($stroke, $i*0.018em $k*0.018em 0.0027em $color, comma);
            }
        }
    }
    @return $stroke;
}

@mixin check-stroke($size: 2, $color: #fff, $correction: 1) {
    text-shadow: check-stroke($size, $color, $correction);
}

.product-detail-configurator-option {
    display: inline-flex;

    &:not(:last-child) {
        .is-display-color {
            margin-block-end: 0.5rem;
        }
    }

    .product-detail-configurator-option-input-label {
        display: flex;
    }

    .is-display-static-color {
        block-size: 3rem;
        border: 0;
        border-radius: 50%;
        box-shadow: none;
        display: inline-block;
        inline-size: 3rem;
        min-inline-size: 0;
        position: relative;

        &:after {
            color: $white;
            content: "\f26e";
            display: block;
            font-family: bootstrap-icons !important;
            font-size: 2.5rem;
            inset-block-start: -0.312rem;
            inset-inline-start: 0.312rem;
            position: absolute;
            text-align: center;
            /* Careful! Needs rendering time */
            @include check-stroke(2, rgba(0, 0, 0, 0.15));
        }
    }

    .product-detail-color-title {
        block-size: 3rem;
        line-height: 3rem;
        padding-inline-start: 1rem;
    }

    .product-detail-configurator-option-input {
        display: none;

        + .product-detail-configurator-option-input-label {
            cursor: pointer !important;
            opacity: 1 !important;

            .is-display-text {
                background: $white;
                border: 0.0625rem solid $border-color;
                display: inline-block;
                line-height: 2.5rem;
                padding-block: 0;
                padding-inline: 1.25rem;
            }

            .is-display-color {
                block-size: 3rem;
                border: 0;
                border-radius: 50%;
                box-shadow: none;
                display: inline-block;
                inline-size: 3rem;
                min-inline-size: 0;
                position: relative;
            }
        }

        &:checked + .product-detail-configurator-option-input-label {
            .is-display-text {
                background: $primary;
                border-color: $primary;
            }

            .is-display-color {
                &:after {
                    color: $white;
                    content: "\f26e";
                    display: block;
                    font-family: bootstrap-icons !important;
                    font-size: 2.5rem;
                    inset-block-start: -0.312rem;
                    inset-inline-start: 0.312rem;
                    position: absolute;
                    text-align: center;
                    /* Careful! Needs rendering time */
                    @include check-stroke(2, rgba(0, 0, 0, 0.15));
                }
            }
        }
    }
}
