.cross-selling {
    .tab-content {
        .cms-element-title {
            display: none;
        }
    }
}

.product-slider {
    padding: 2rem;
}

.product-detail-cross-selling {
    .tab-content {
        .cms-element-title {
            display: none;
        }

        .product-slider {
            padding: 1.8rem;
        }
    }
}
