.product-detail-main {
    position: relative;
}

.product-detail-left-col .wrapper {
    margin-block-end: 1rem;
}

.product-detail-headline {
    margin-block-end: 0;
}

.product-detail-media {
    overflow: hidden;
}

.product-detail-content {
    border-block-start: 0.0625rem solid $border-color;
    margin-block-end: $spacer;
    margin-block-start: 2rem;
    padding-block-start: 1.5rem;

    .price-display__price {
        font-size: 2rem;
        font-weight: $font-weight-semibold;
    }

    .price-display__kiloprice {
        font-weight: $font-weight-semibold;
    }
}

.product-detail-buy {
    margin-block-end: 0;

}

.product-detail-price-unit,
.product-detail-tax {
    font-size: inherit;
}

.product-detail-delivery-information {
    margin: 0;
    padding: 0;
}

.product-detail-form-container {
    margin: 0;
    padding: 0;
}

/* Bugfix Image Gallery */

.product-detail-media {

    .gallery-slider-item, .gallery-slider-item.is-cover, .gallery-slider-item.is-contain {
        block-size: auto !important;
        min-block-size: auto !important;
    }

    .gallery-slider-item.is-cover .gallery-slider-image,
    .gallery-slider-item.is-contain .gallery-slider-image,
    .gallery-slider-single-image.is-cover .gallery-slider-image,
    .gallery-slider-single-image.is-contain .gallery-slider-image {
        position: relative !important;
    }

    .gallery-slider-row {
        margin-block-end: 0 !important;
    }


    .gallery-slider-thumbnails-item {
        block-size: auto !important;
        inline-size: 100%;
    }

    .gallery-slider-thumbnails-item-inner {
        border: 0;
        padding: 0;
    }

    .gallery-slider-thumbnails-image {
        block-size: 4.875rem;
        inline-size: 100% !important;
        object-fit: cover;
    }

    .gallery-slider-thumbnails-container, .tns-outer, .tns-ovh {
        block-size: 100%;
    }

    .gallery-slider-thumbnails-col.is-left .gallery-slider-thumbnails-controls-prev {
        inset-block-end: auto;
        inset-block-start: -1.5rem;
    }

    .gallery-slider-thumbnails-col.is-left .gallery-slider-thumbnails-controls-next {
        inset-block-end: -1.5rem;
        inset-block-start: auto;
    }

    @media(min-width: map-get($grid-breakpoints, "md")) {
        .gallery-slider-thumbnails-col.is-left {
            padding-block: 1.25rem;
            padding-inline-end: 0;
            padding-inline-start: 1rem;

            .tns-ovh {
                block-size: 23.437rem !important;
            }
        }
        .gallery-slider-thumbnails-col.is-left .gallery-slider-thumbnails-item {
            margin: 0;
            padding-block: 0.5rem;
            padding-inline: 0;
        }
    }

    .zoom-modal-wrapper {
        .gallery-slider-item, .gallery-slider-item.is-cover, .gallery-slider-item.is-contain {
            block-size: 100% !important;
            min-block-size: 100% !important;
        }

        .modal-footer {
            position: relative;
        }
    }

    .modal.zoom-modal .gallery-slider {
        inset-block-end: 0 !important;
    }
}

.custom-product-information {
    .custom-product-information-benefits {
        ul {
            list-style: none;
            margin: 0;
            padding-block: 0;
            padding-inline-end: 0;
            padding-inline-start: 2rem;
        }

        li {
            padding-block-end: 0.25rem;
            padding-block-start: 0.25rem;
        }

        ul li:before {
            color: $sw-color-brand-primary;
            content: "\f586";
            font-family: bootstrap-icons !important;
            margin-inline-start: -1.8rem;
            padding-inline-end: 0.75rem;
            vertical-align: top;
        }
    }

    .custom-product-information-details {
        table {
            inline-size: 100%;
        }

        .custom-product-information-styling {
            box-sizing: border-box;
            position: relative;
        }
    }
}

.custom-product-buy-online {
    margin-block-end: $spacer-lg;
}

.product-detail-price-box {
    display: block;
    margin-block-start: 1.5rem;
}

.product-detail-price-box-snippet {
    block-size: 0;
    border-color: darken($primary, 10%) transparent transparent transparent;
    border-style: solid;
    border-width: 1.562rem 6.25rem 0 0;
    inline-size: 0;
}

.product-detail-link {
    display: flex;
}

.product-detail-configurator-option-input,
.product-detail-configurator-option-custom-label,
.product-detail-configurator-option-custom-select-label {
    opacity: 1 !important;
}

.product-detail-configurator-option-input,
.product-detail-configurator-option-custom-label,
.product-detail-configurator-option-custom-select-label {
    &.is-combinable {
        opacity: 1;
    }
}

.cart-item-details {
    padding-block-start: 0;
}

.cart-item-details-container {
    * {
        font-size: 0.8rem;
    }

    .cart-item-label {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
    }
}

.cart-item-label {
    color: $secondary;
}

.product-feature-label, .checkout-aside-item-title, .cart-item-ordernumber, .checkout-aside-summary-total, .cart-item-total-price {
    color: $secondary;
    font-weight: $font-weight-normal;
}

.product-cheapest-price {
    font-size: 0.8rem;
    margin-block-end: 1rem;
}

.modal.zoom-modal {
    .gallery-slider {
        inset-block-end: 9.062rem;
    }

    .modal-close {
        background-color: #d0d7dd;
        border-radius: $border-radius;
        padding: 0.5rem;
    }
}

.stock-traffic {
    font-size: 0.75rem;
    line-height: 1;

    .traffic-light {
        block-size: 0.75rem;
        border-radius: 50%;
        display: inline-block;
        inline-size: 0.75rem;
        margin-inline-end: 0.437rem;
    }
}

.product-listview-price {

    &.with-list-price {
        .product-price, .list-price-price, .list-price-percentage {
            color: $wk-color-offers;
        }

        .list-price-price {
            text-decoration: line-through;
        }
    }

    * {
        align-items: center;
        font-size: $font-size-base;
        line-height: 1 !important;
    }

    .product-price {
        color: $sw-color-brand-primary;
        font-size: $h4-font-size;
        font-weight: normal;
        margin-block-start: 0.5rem;
        padding-block-end: 0.5rem;
    }
}

/* Detail view */
.product-detail-price-container {
    margin-block: 1rem;
    margin-inline: 0;
    padding: 1rem;
}

.product-detail-price {

    &.with-list-price {
        .product-price, .list-price-price, .list-price-percentage {
            color: $white;
        }

        .list-price-price {
            text-decoration: line-through;
        }
    }

    * {
        align-items: center;
        font-size: $font-size-base;
        line-height: 1 !important;
    }

    .product-price {
        color: $white;
        font-size: $h4-font-size;
        font-weight: normal;
        margin: 0;
    }
}

.wk-offer-link-item {
    position: relative;
    transition: all linear .3s;

    &:hover {
        transform: scale(1.025);
    }

    a {
        display: block;
        text-decoration: none;
    }
}

#print-configuration-cover {
    display: none;
}

.product-detail-sheets {
    border-block-start: 0.0625rem solid $border-color;
}
