.sw-cms-preview-local-video {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0.9375rem;
  overflow: hidden;
  position: relative;

  &__img {
    block-size: auto;
    inline-size: 100%;
  }

  &__icon {
    block-size: 3.125rem;;
    position: absolute;
  }
}
