.sw-cms-block_fh-cluster-d {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 1fr 1fr;

  .is--mobile & {
    grid-template-columns: repeat(2, 1fr);

    .sw-cms-slot-colOne {
      grid-column: 1 / 3;
    }

    .sw-cms-slot-colTwo {
      grid-column: 1;
    }

    .sw-cms-slot-colThree {
      grid-column: 2;
    }

    .sw-cms-slot-colOne {
      grid-row: 1;
    }

    .sw-cms-slot-colTwo,
    .sw-cms-slot-colThree {
      grid-row: 2;
    }
  }
}
