{% sw_extends '@Storefront/storefront/component/line-item/element/remove.html.twig' %}

{% block component_line_item_remove_button %}
    <button type="submit"
            title="{{ "checkout.removeLineItem"|trans|striptags }}"
            data-product-id="{{ lineItem.id }}"
            class="btn btn-outline-danger btn-sm line-item-remove-button">
        {% sw_icon 'trash' style { 'size': 'sm' } %}
    </button>
{% endblock %}

