/*
Footer
==================================================
Contains custom skin styles for the footer located at the bottom of the page.
*/

.footer-plus-icon *, .footer-minus-icon * {
    color      : $white;
    transition : $animation;
}

.footer-bottom {
    background : none !important;
}

.footer-column {
    border-bottom : 1px solid darken($wood, 10%);
}

.footer-main {
    color      : $sw-text-color;
    border-top : 5px solid $border-color;

    .footerPageBenefits {
        line-height : 1.2;
    }

    .footer-columns {
        color : $gray-300;
    }

    .footer-table-contact {
        color : $gray-300;
    }

    .footer-bottom {
        color : $gray-300;
    }
}

.footer-column-headline {
    color       : $white;
    font-family : $headings-font-family;
    font-size   : $h5-font-size;
    font-weight : $headings-font-weight;
}

.footer-link {
    color : lighten($wood, 30%);

    &:hover {
        color           : $primary;
        text-decoration : underline;
    }
}

.footer-contact-hotline a {
    @extend .footer-link;
    display     : block;
    margin      : $spacer 0 $spacer-sm;
    font-size   : $font-size-lg;
    font-weight : $font-weight-bold;
}

.footer-service-menu-item {
    &::after {
        display     : inline-block;
        height      : 10px;
        width       : 1px;
        border-left : 1px solid $gray-500;
        content     : "";
        margin      : 0 $spacer-sm;
    }

    &:last-child::after {
        content : none;
    }
}

@include media-breakpoint-up(md) {
    .footer-columns {
        border : 0;
    }

    .footer-column {
        border : 0;
    }

    .footer-link-item {
        padding : 2px 0;
    }
}

.footer-copyright {
    color            : $wood;
    background-color : darken($wood, 25%);
    padding          : 0.5rem 0;
}
