/*
Header
==================================================
Contains custom skin styles for the header at the top of the page.
The header contains the shop logo, the search form and various actions like the offcanvas cart button.
*/

.header-logo-main {
    height     : auto;
    text-align : left;
    position   : relative;
}

.wk-header {
    box-shadow : 0 -0.5rem 0.25rem 1rem rgba(0, 0, 0, .25);

    .header-main {
        height     : 90px;
        background : url('#{$app-css-relative-asset-path}/pattern/header-weka-wood.jpg') repeat bottom center $wood;
    }

    position   : relative;
    z-index    : 500;
}

/* Search container */

.searchbox {
    .container {
        position : relative;

        .header-search-close-box {
            position : absolute;
            right    : 0;
        }
    }
}

.loader {
    width  : 1.35rem;
    height : 1.35rem;
}

.header-search-input {
    border        : 0;
    border-bottom : 2px solid $secondary !important;
}

.search-suggest-container {
    p {
        margin : 0;
    }

    .search-suggest-product-image-container {
        width      : 70px;
        height     : auto;
        margin     : 0;
        text-align : center;
    }

    .search-suggest-product-link {
        color   : $sw-text-color;
        padding : .5rem 0;

        &:hover {
            text-decoration : underline;
        }
    }

    .search-suggest-product-name {
        white-space : normal;
    }

    .search-suggest-product-image, .icon-placeholder {
        width      : 100%;
        height     : auto;
        max-width  : none;
        max-height : none;
        padding    : 1px;
        object-fit : cover;
        border     : 1px solid $border-color;
    }

    .search-suggest-total {
        padding : 0;

        .search-suggest-total-count {
            padding    : .5rem 0;
            font-style : italic;
        }
    }
}

@include media-breakpoint-up(md) {
    .wk-header {
        .search-suggest-container {
            width : 50vw;
        }
    }
}

@include media-breakpoint-up(xl) {
    .wk-header {
        .search-suggest-container {
            width : 25vw;
        }
    }
}

/* Account menu */
.list-group-item {
    &.is-active {
        color : $primary;
    }
}

.account-menu-dropdown {
    padding : 0;

    .offcanvas-content-container {
        margin : 0 !important;
    }

    .list-group-item {
        border : 0;

        &.is-active {
            color : $primary;
        }
    }

    .account-menu-login {
        background : $light;
        padding    : 1.5rem;
        margin     : .5rem 0;
        border     : 0;
    }
}

.account-menu-dropdown .account-aside-item,
.account-menu-header,
.account-menu-login,
.account-menu-offcanvas .account-aside-item,
.account-menu-dropdown .account-aside-item {
    padding : .75rem;
}

.account-menu-login {
    margin : 0;
}
