.navigation-flyouts {
    block-size: 0;
    display: none;
    inline-size: 100%;
    inset-block-end: 0;
    inset-inline-end: 0;
    inset-inline-start: 0;
    position: absolute;
    z-index: $menu-flyout-zindex;

    * {
        line-height: 1.1;
    }
}

.navigation-flyout {
    background: transparent;
    box-shadow: none;
    font-weight: $font-weight-normal;
    transition: $animation;

    .navigation-flyout-wrapper {
        background: $white;
        border: 0.0625rem solid $border-color;
        box-shadow: 0 0.9375rem 0.625rem -0.937rem rgba(0, 0, 0, 0.35);
        padding: 0.5rem 0;
    }

    .navigation-flyout-categories {
        &:not(.is-level-0) {
            margin-inline-start: 1.25rem;
        }

        &.is-level-0 {
            .navigation-flyout-col {
                position: relative;
            }
        }

        &.is-level-1 {
            margin-block-end: $spacer-sm;
        }
    }

    .navigation-flyout-content {
        padding: 1rem 0;
    }

    .navigation-flyout-link {
        @include transition(padding 0.25s cubic-bezier(0, 0.77, 0.33, 1));
        color: $sw-text-color;
        display: inline-block;
        font-size: $font-size-base;
        margin: 0 $spacer-xs;
        padding: $spacer-xs 0;
        transition: $animation;

        &:hover {
            transition: $animation;
        }

        &.active {
            color: $sw-color-brand-primary;
            font-weight: $font-weight-bold;
        }

        &.is-level-0 {
            color: $secondary;
            font-size: $font-size-base;
            font-weight: $font-weight-bold;

            &.active {
                color: $sw-color-brand-primary;

                &:hover {
                    color: darken($sw-color-brand-primary, 10%);
                    padding-inline-start: 0.125rem;
                }
            }
        }

        &.is-level-1 {
            font-family: 'Roboto', serif;
            font-size: $font-size-base;
        }

        &.is-level-2 {
            font-family: 'Roboto', serif;
            font-size: $font-size-base;
        }

        &:hover {
            color: darken($sw-color-brand-primary, 10%);
            padding-inline-start: 0.125rem;
        }
    }

    .navigation-flyout-bar {
        align-items: center;
        padding: 1.25rem 0;
    }

    .navigation-flyout-category-link {
        color: $sw-color-brand-primary;
        font-size: $font-size-lg;
        font-weight: $font-weight-normal;
        padding-inline-start: 1.5rem;
    }
}
