.main-navigation-menu {
    font-size: 1.1rem;
    font-weight: $font-weight-normal;

    * {
        line-height: 1;
    }
}

.nav-link {
    &.is-back-link {
        border-block-start: 0.0625rem solid $sw-border-color;
    }
}

.navigation-offcanvas-list-item {
    border-block-start: 0.0625rem solid $sw-border-color;

    &:last-child {
        border-block-end: 0.0625rem solid $sw-border-color;
    }
}

.navigation-offcanvas-link, .main-navigation-link {
    .item-name {
        position: relative;
    }

    .wk-offers-nav-badge {
        align-items: center;
        background-color: #ce0019;
        block-size: 1.875rem;
        border: 0.0625rem dotted $white;
        border-radius: 100%;
        display: flex;
        font-weight: $font-weight-normal;
        inline-size: 1.875rem;
        inset-block-start: -0.187rem;
        inset-inline-end: -2.5rem;
        justify-content: center;
        line-height: 1;
        position: absolute;
        text-align: center;
    }
}

@include media-breakpoint-up(lg) {
    .main-navigation-menu {

        .main-navigation-link {
            align-items: center;
            color: lighten($wood, 35%);
            display: flex;
            margin-inline-end: 1.25rem;
            padding: 0;

            position: relative;

            transition: $animation;

            &:first-child {
                padding-inline-start: 0;
            }

            .main-navigation-link-text {
                border: 0;
                padding: 0;
            }

            &::after {
                background: $primary;
                block-size: 0;
                content: "";
                inline-size: 100%;
                inset-block-end: 0.625rem;
                inset-inline-start: 0;
                position: absolute;
                -moz-transform: translateY(0.625rem);
                -webkit-transform: translateY(0.625rem);
                transform: translateY(0.625rem);
                transition: $animation;
            }

            &:hover::after,
            &:focus::after,
            &.is-open::after {
                block-size: 0.312rem;
                inset-block-end: 0;
                -moz-transform: translateY(0rem);
                -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
            }

            &:hover,
            &.is-open {
                color: $white;
            }

            &.active {
                color: $white;
                font-weight: $font-weight-normal;

                &::after {
                    block-size: 0.937rem;
                    inset-block-end: 0;
                    -moz-transform: translateY(0rem);
                    -webkit-transform: translateY(0rem);
                    transform: translateY(0rem);
                }
            }
        }
    }
}

.header-actions-col {
    position: relative;

    .search-toggle-btn, .header-wishlist-btn, .account-menu-btn, .service-menu-btn, .header-cart-btn {
        border: 0;
        position: relative;

        .icon, .header-cart-total {
            color: lighten($wood, 35%);
            font-size: $font-size-base;
            transition: $animation;
            vertical-align: middle;
        }

        &:hover, &:focus {
            box-shadow: none !important;
            outline: none !important;

            .icon, .header-cart-total {
                color: $white;
            }
        }

        &::after {
            background: $primary;
            block-size: 0;
            content: "";
            inline-size: 100%;
            inset-block-end: 0.625rem;
            inset-inline-start: 0;
            position: absolute;
            -moz-transform: translateY(0.625rem);
            -webkit-transform: translateY(0.625rem);
            transform: translateY(0.625rem);
            transition: $animation;
        }

        &:hover::after,
        &:focus::after,
        &.is-open::after {
            block-size: 0.312rem;
            inset-block-end: 0;
            -moz-transform: translateY(0rem);
            -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
        }

        &.active {
            color: $white;
            font-weight: $font-weight-normal;

            &::after {
                block-size: 0.312rem;
                inset-block-end: 0;
                -moz-transform: translateY(0rem);
                -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
            }
        }
    }
}

.card-title.cart-table-header {
    border-block-end: 0.0625rem solid $dark;
}

.cart-main-header {
    margin-block-end: 2rem;
}

.header-main {

    .offcanvas-toggler {
        background-color: transparent;
        border: 0;
        padding: 0 .65rem;

        span {
            background: lighten($wood, 35%);
            block-size: 0.125rem;
            display: block;
            inline-size: 1.562rem;
            margin-block: 0.437rem;
            margin-inline: auto;
            transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
        }

        &:hover, &:focus {
            box-shadow: none !important;
            outline: none !important;

            span {
                background: $white;
            }
        }
    }

    .offcanvas-toggler:focus span:first-of-type {
        transform: rotate(45deg) translate(0.312rem, 0.312rem);
    }

    .offcanvas-toggler:focus span:nth-of-type(2) {
        opacity: 0;
    }

    /* rotate third span */
    .offcanvas-toggler:focus span:last-of-type {
        transform: rotate(-45deg) translate(0.5rem, -0.5rem);
    }

    .dropdown-menu {
        border-block-start: 0;
        margin: 0;
    }
}

.navigation-offcanvas {
    .is-home-link {
        background-color: $gray-200;
    }

    .nav-link {
        color: $sw-text-color;
    }

    .is-back-link {
        background-color: $light;
        color: $sw-text-color;
    }

    .is-current-category {
        color: $sw-color-brand-primary;
        display: block;
    }
}

.navigation-offcanvas-headline, .account-menu-header {
    border: 0;
    color: $headings-color;
    font-family: $headings-font-family;
    font-size: $h5-font-size;
    font-weight: $headings-font-weight;
}

.nav-tabs {

    .nav-item {
        margin-block-end: -0.0625rem;

        .nav-link {
            background: $white;
            border: 0.0625rem solid;
            border-color: transparent transparent $border-color transparent;
            color: $sw-text-color;
            margin-block-end: 0.125rem;
            margin-inline-end: 0.125rem;
            transition: $animation;

            &:hover {
                background: lighten($link-hover-color, 60%);
                transition: $animation;
            }

            &.active {
                background: $white;
                border-color: $border-color $border-color transparent;
                color: $primary;

                &:hover {
                    background: $white;
                }
            }
        }
    }
}
